.DS_Store
_build/
.venv/
**/.ipynb_checkpoints
exports/

# caches
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.nav
*.snm
*.vrb
*.brf
*-converted-to.pdf
